@{
    ViewBag.Title = "Home Page";
}




<div class="container-fluid">
    <div class="container">
        @if (!User.Identity.IsAuthenticated)
                {
            <div class="my-5">
                <a href="~/Account/Login" class="nav-link"><h1 class="display-4 text-center">Login to Continue......</h1></a>
            </div>

        }
    </div>
</div>